<div class="h-full flex flex-col">
  <!-- Toolbar durchgehend oben -->
  <app-toolbar />
  
  <!-- Sidenav Container darunter -->
  <mat-sidenav-container class="flex-1">
    <!-- Linke Navigation -->
    <mat-sidenav 
      opened
      (closed)="layoutDispatcher.navigationSidenavClosed()"
      mode="side" 
      position="start"
      class="w-64 no-border-radius">
      <app-navigation-sidenav-content />
    </mat-sidenav>

    <!-- Rechter Notification Sidenav -->
    <mat-sidenav 
      [opened]="layoutStore.notificationSidenavOpen()" 
      (closed)="layoutDispatcher.notificationSidenavClosed()"
      mode="over" 
      position="end"
      class="w-80">
      <app-notification-sidenav-content (closed)="layoutDispatcher.notificationSidenavClosed()" />
    </mat-sidenav>

    <!-- Content Bereich -->
    <mat-sidenav-content>
      <div class="p-6">
        <router-outlet />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
