<!-- News Card -->
<mat-card class="dashboard-card news-card">
  <mat-card-header>
    <span class="material-symbols-outlined" mat-card-avatar>info</span>
    <mat-card-title>News</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="news-list">
      <div class="news-item">
        <span class="news-date">29.09.2025</span>
        <span class="news-text">Neue Werkstudentin: Shaghayegh (kurz: Shey) Nemati ab 15.10.2025</span>
      </div>
      <div class="news-item">
        <span class="news-date">29.09.2025</span>
        <span class="news-text">Neuer Kollege: Michael Steinke ab 03.11.2025</span>
      </div>
      <div class="news-item">
        <span class="news-date">29.09.2025</span>
        <span class="news-text">Neuer Kollege: Patrick Schlüer ab 05.01.2026</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>