<!-- News Card -->
<mat-card class="dashboard-card news-card">
  <mat-card-header>
    <span class="material-symbols-outlined" mat-card-avatar>info</span>
    <mat-card-title>News</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="news-list">
      @for (singleNews of news(); track singleNews.id) {
        <div class="news-item">
          <span class="news-date">{{ singleNews.createdAt | date: 'dd.MM.yyyy' }}</span>
          <span class="news-text">{{ singleNews.content }}</span>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>