/* Events Card */
.events-card {
  .events-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 16px;
  }
  
  .event-item {
    display: flex;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--mat-sys-outline-variant);

        
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  
  .event-date {
    font-weight: 600;
    min-width: 100px;
    flex-shrink: 0;
  }
  
  .event-separator {
    margin: 0 0.5rem;
    color: var(--mat-sys-on-surface-variant);
  }
  
  .event-name {
    flex: 1;
  }
}