/* Notification Sidenav specific styles */

/* Fix Material Icon Button sizing */
::ng-deep .notification-action-btn {
  width: 32px !important;
  height: 32px !important;
  line-height: 32px !important;
  padding: 0 !important;
}

::ng-deep .notification-action-btn .mat-icon {
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
}

::ng-deep .notification-action-btn .mat-mdc-button-touch-target {
  width: 32px !important;
  height: 32px !important;
}
